img{
    width: 100px; 
  height: 100px; 
}

.link {
    text-decoration: none;
    color: black;
}

.logoGreenColor {
    color: #19a352;
    font-size: 2rem;
}

.logoBlueColor {
    color: #003366;
    font-size: 2rem;
}

.flex {
    display: flex;
    align-items: center;
}

.logoText {
    display: flex;
    gap: .3rem;
}